@{
    ViewBag.Title = "Home Page";
}


<head>
    <title> LIVE AND DIRECT</title>
    <link href="@Url.Content("~/Content/Site.css")"rel ="stylesheet" type="text/css" />
</head>

<body>

<aside class="sidebar">
    <nav class="nav">
        <ul>
            <li class="active"><a href="#">Welcome</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Xplore</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Family Tree</a></li>
            <li><a href="#">Partnerships</a></li>
            <li><a href="#">Conversation</a></li>
        </ul>
    </nav>
</aside>

<section class="intro">
    <div class="content">
        <h1> LIVE AND DIRECT IS COMING TO THE O2</h1>
    </div>
    
    
</section>

<section>
    <div class="content">
        <h1> testing panel 1</h1>
    </div>
    
 
</section>


<section>
    <div class="content">
        <h1> testing panel 1</h1>
    </div>
    
 
</section>

<section>
    <div class="content">
        <h1> testing panel 1</h1>
    </div>
</section>


</body>


