@{
    ViewBag.Title = "Home Page";
}


<head>
    <title> UNPLUGLIVE</title>
    <link rel ="stylesheet" href="style.css" />
</head>

<body>
<section class="hero">
    <div class="hero-inner">
        <h1> UNPLUGLIVE COMING TO THE O2</h1>
        <h2>NEW HOME FOR LIVE MUSIC</h2>
        <a href="Contact.cshtml" class="btn"> Tickets </a>
    </div>
</section>
</body>


